/* Rote Umrandung für campusplan.geojson */
.campus-outline {
  stroke: rgb(195, 59, 59);
  stroke-width: 5;
  fill-opacity: 0;
}

/* Routing-Button im Popup */
#route-btn {
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
}